<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stocksexchange.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:name=".StexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/launcher_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!-- ACTIVITIES -->

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.login.LOGINACTIVITY"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.registration.REGISTRATIONACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT/"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.passwordrecovery.PasswordRecoveryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.passwordrecovery.PASSWORDRECOVERYACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.auth.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AuthenticationTheme">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.auth.AUTHENTICATIONACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.pinrecovery.PinRecoveryActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.pinrecovery.PINRECOVERYACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.dashboard.DASHBOARDACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.qrcodescanner.QrCodeScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/QrCodeScannerTheme">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.qrcodescanner.QrCodeScannerActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.verification.prompt.VerificationPromptActivity"
            android:theme="@style/VerificationPromptTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.stocksexchange.android.ui.verification.prompt.VERIFICATIONPROMPTACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.deeplinkhandler.DeepLinkHandlerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <data android:scheme="http"/>
                <data android:scheme="https"/>

                <data android:host="stocks.exchange"/>
                <data android:host="app.stex.com"/>

                <data android:pathPattern="/user/verify/..*"/>
                <data android:pathPattern="/password/reset/..*"/>
                <data android:pathPattern="/..*/basic-trade/pair/..*/..*"/>
                <data android:pathPattern="/..*/trade/pair/..*/..*"/>
                <data android:pathPattern="/..*/withdrawal/confirm/..*/..*"/>
                <data android:pathPattern="/..*/withdrawal/cancel/..*"/>

                <action android:name="android.intent.action.VIEW"/>
                <action android:name="com.stocksexchange.android.ui.deeplinkhandler.DEEPLINKHANDLERACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

        </activity>

        <!-- SERVICES -->

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <!-- RECEIVERS -->

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

        <receiver
            android:name=".receivers.PushNotificationReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="${applicationId}.PUSH_NOTIFICATION_RECEIVER"/>
            </intent-filter>

        </receiver>

        <receiver
            android:name=".receivers.CustomTabsReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".receivers.UserLogoutReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="${applicationId}.ACTION_LOG_OUT_USER"/>
            </intent-filter>

        </receiver>

        <!-- META -->

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"/>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />


        <!-- Push Notification -->
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push_notification_small" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
        <!-- Push Notification -->


    </application>

</manifest>